.footer
    .inline-list
        ul
            li
                a(href="/about") KaufNatur
                span.dot.divider &middot;
            li
                a(href="/help") Hilfe
                span.dot.divider &middot;
            li
                a(href="/blog") Blog
                span.dot.divider &middot;
            li
                a(href="/status") Status
                span.dot.divider &middot;
            li
                a(href="/jobs") Jobs
                span.dot.divider &middot;
            li
                a(href="/terms") Terms
                span.dot.divider &middot;