.topbar.js-topbar
  .global-nav(data-section-term="top_nav")
    .global-nav-inner
      .container
        ul.nav.js-global-actions
          li.home(data-global-action="t1home")
              a.nav-logo-link(href="/", data-nav="front")
                span.Icon
                  img(id='logoImage', src='img/logo.png')                 
                  span.visuallyhidden Twitter
        .pull-right
          ul.nav.secondary-nav.language-dropdown
            li.dropdown.js-language-dropdown
              a.dropdown-toggle.js-dropdown-toggle(href="#supported_languages", role="button", aria-haspopup="true")
                | <small>Language:</small> <span class="js-current-language">English</span> <b class="caret"></b>
              .dropdown-menu
                .dropdown-caret.right
                  span.caret-outer
                  span.caret-inner
                  ul#supported_languages
                    <li><a href="?lang=de" data-lang-code="de" title="German" class="js-language-link js-tooltip">Deutsch</a></li>
                    <li><a href="?lang=it" data-lang-code="it" title="Italian" class="js-language-link js-tooltip">Italiano</a></li>
              .js-front-language
                form.t1-form.language(action="/sessions/change_locale", method="POST")
                  input(type="hidden", name="lang")
                  input(type="hidden", name="redirect")