.topbar.js-topbar
  .global-nav(data-section-term="top_nav")
    .global-nav-inner
      .container
        ul.nav.js-global-actions
          li.home(data-global-action="t1home")
              a.nav-logo-link(href="/", data-nav="front")
                span.Icon
                  img(id='logoImage', src='img/logo.png')                 
                  span.visuallyhidden KaufNatur