h2
	Test APP

	.container
		.row
			.col-md-8
				.well.well-sm
					form
						.row
							.col-md-12
								.form-group
									label(for="name") Message
									textarea(name="message", id="message", class="form-control", rows="9", cols="25", required="required", placeholder="Message")
							.col-md-12
								button(type="submit", class="btn btn-primary pull-right", id="btnContactUs") Send