div(ng-controller="LoginController", ng-init="login = true")
    .mainbox(ng-show="login", id="loginbox", style="margin-top:20px;")
        .panel.panel-info
            .panel-heading
                .panel-title Sign In
                div(style="float:right; font-size: 80%; position: relative; top:-10px")
                    a(href="#") Forgot password?
            .panel-body(style="padding-top:30px")
                .alert.alert-danger.col-sm-12(style="display:none", id="login-alert")
                form.form-horizontal(action="/login", role="form", method="post")
                    .input-group(style="margin-bottom: 25px")
                        span.input-group-addon
                            i.glyphicon.glyphicon-user
                        input.form-control(id="login-username", type="text", name="username", value="", placeholder="username or email")
                    .input-group(style="margin-bottom: 25px")
                        span.input-group-addon
                            i.glyphicon.glyphicon-lock
                        input.form-control(id="login-password", type="password", name="password", placeholder="password")
                    .input-group
                        .checkbox
                            label
                                input(id="login-remember", type="checkbox", name="remember", value="1")
                                | Remember me
                    .form-group(style="margin-top:10px")
                        .col-sm-12.controls
                            button.btn.btn-success(id="btn-login", type="submit", value="submit") Login
                    .form-group(style="margin-top:10px")
                        .col-sm-12.controls
                            div(style="border-top: 1px solid#888; padding-top:15px; font-size:85%")
                                a.btn.btn-sm.btn-social.btn-facebook(id="btn-fblogin", href="/auth/facebook", type="button")
                                    i.fa.fa-facebook
                                    | Login with Facebook
                                span.pad-sm
                                a.btn.btn-sm.btn-social.btn-google-plus(id="btn-googlelogin", href="/auth/google", type="button")
                                    i.fa.fa-google
                                    | Login with Google
                    .form-group
                        .col-md-12.controls
                            div(style="border-top: 1px solid#888; padding-top:15px; font-size:85%") Don't have an account!
                                | <a ng-click="login=false">Sign Up Here</a>

    .mainbox(ng-hide="login", id="signupbox", style="margin-top:20px")
        .panel.panel-info
            .panel-heading
                .panel-title Sign Up
                div(style="float:right; font-size: 85%; position: relative; top:-10px")
                    | <a ng-click="login=true">Sign In</a>
            .panel-body
                form.form-horizontal(id="registration-form", role="form", action="/register", method="post")
                    .alert.alert-danger(id="signupalert", style="display:none")
                        p Error:
                        span
                    .form-group
                        label.col-md-3.control-label(for="email") Email
                        .col-md-9
                            input.form-control(type="text", name="email", placeholder="Email Adresse")
                    .form-group
                        label.col-md-3.control-label(for="email") Vorname
                        .col-md-9
                            input.form-control(type="text", name="firstname", placeholder="Vorname")
                    .form-group
                        label.col-md-3.control-label(for="email") Nachname
                        .col-md-9
                            input.form-control(type="text", name="lastname", placeholder="Nachname")
                    .form-group
                        label.col-md-3.control-label(for="email") Passwort
                        .col-md-9
                            input.form-control(type="text", name="password", placeholder="Passwort")
                    .form-group
                        <!-- Button -->
                        .col-md-offset-3.col-md-9
                            button.btn.btn-success(id="btn-signup", type="submit", value="submit")
                                i.icon-hand-right
                                    | &nbsp Sign Up
