doctype html
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Angular Express Bootstrap Seed App
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/twitter_core.bundle.css')
    link(rel='stylesheet', href='/css/twitter_logged_out.bundle.css')
    link(rel='stylesheet', href='/css/twitter_more_1.bundle.css')
    link(rel='stylesheet', href='/css/twitter_more_2.bundle.css')
    script(src='js/lib/jquery/jquery-2.0.3.min.js')
    script(src='bootstrap/js/bootstrap.min.js')
  body(class="three-col logged-out ms-windows front-page-photo-set front-page")
    block body
