doctype html
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Angular Express Bootstrap Seed App
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/twitter_core.bundle.css')
    link(rel='stylesheet', href='/css/twitter_logged_out.bundle.css')
    link(rel='stylesheet', href='/css/twitter_more_1.bundle.css')
    link(rel='stylesheet', href='/css/twitter_more_2.bundle.css')
  body(class=bodyClassVariables)
    block body
