doctype html
html
    head
        meta(charset='utf8')
        base(href='/')
        title Angular Express Bootstrap Seed App
        link(rel='stylesheet', href='/css/app.css')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='/bootstrap-social/bootstrap-social.css')
    body
        form.cmxform(id="commentForm", method="get", action="")
            fieldset
                legend Please provide your name, email address (won't be published) and a comment
                p
                    label(for="cname") Name (required, at least 2 characters)
                    input(id="cname", name="name", minlength="2", type="text", required)
                p
                    label(for="cemail") E-Mail (required)
                    input(id="cemail", type="email", name="email", required)
                p
                    label(for="curl") URL (optional)
                    input(id="curl", type="url", name="url")
                p
                    label(for="ccomment") Your comment (required)
                    textarea(id="ccomment", name="comment", required)
                p
                    input.submit(type="submit", value="Submit")
        script(src='js/lib/jquery/jquery-2.0.3.min.js')
        script(src='js/lib/jquery/jquery.validate.min.js')
        script(src='js/validate.js')