#wrap(ng-controller="ProfileController as profileCtrl")
    .row
        .jumbotron.cover
            cover-image(ng-src="{{coverImgPath}}", width="368", height="383")
    .row
        .col-xs-6.col-sm-3
        .col-xs-6.col-sm-7
        .col-xs-6.col-sm-1
