div(ng-controller="ProfileController as profileCtrl")
    .container
        .row
            .profile-cover(ng-mouseenter="coverChangeVisible = true", ng-mouseexit="coverChangeVisible = false", ng-init="coverChangeVisible = false")
                img.image-box(drag-image ng-src="{{image}}")
                img.img-thumbnail.img-responsive.profile-image(src="img/profile.jpg")
                a.btn.btn-xs.btn-primary.pull-right(ng-file-select, style="margin-top:250px;margin-right:10px", ng-model="files", ng-show="coverChangeVisible")
                    span.glyphicon.glyphicon-picture
                    |  Change cover
        .row(ng-controller="MessageController as msgCtrl")
            .col-xs-6.col-sm-2
            .col-xs-6.col-sm-7
                .card.special(ng-repeat="message in messages | filter:{user:'#{user.username}'} | orderBy:'-date'")
                    .clearfix
                        .pull-right.dropdown(dropdown on-toggle="toggle(open)")
                            i.fa.fa-angle-down.caret-right.dropdown-toggle(dropdown-toggle)
                            ul.dropdown-menu(role="menu")
                                li
                                    a(href="", ng-click="optionMenuClick(1,message)") Löschen
                                li
                                    a(href="", ng-click="optionMenuClick(2, message)") Ausblenden
                                li.divider
                                li
                                    a(href="", ng-click="optionMenuClick(3,message)") Editieren
                    .card-heading.image
                        img(ng-src="img/profile-32.png", alt="")
                        .card-heading-header
                            h3 {{message.user}}
                            span {{message.date | date:"dd.MM.yyyy hh:mm"}}
                    .card-body
                        div(ng-hide="message.editEnabled")
                            {{message.text}}
                        div(ng-show="message.editEnabled")
                            textarea.form-control.simplebox(ng-model="message.text", style="background-color: #E5E5E5;")
                            .clearfix
                            button.btn.btn-primary.pull-right(type="submit", ng-click="updateMessage(message)") Teilen
                    .card-actions
                        a(href="", ng-click="like(message)") Super Geil
                            span.pad-xs
                                span ·
                            a(href="", ng-click="share(message)")  Teilen
                    .card-comments(ng-show="message.likes")
            .col-xs-6.col-sm-2
