div(ng-controller="MessageController as msgCtrl", ng-init="currentUser = '#{user.username}'")
    .row
        pre#uiRouterInfo
            | $state = {{$state.current.name}}
            | $stateParams = {{$stateParams}}
            | $state full url = {{ $state.$current.url.source }}
            | Current User = {{currentUser}}
    .row
        .col-xs-6.col-sm-2
            .card.special
                .card-heading
                    .card-heading-header
                        h6 Aktuelles
        .col-xs-6.col-sm-7
            .card.special
                .card-heading
                    .card-heading-header
                        h6 Mein Blabla
                .card-body
                    textarea.form-control.simplebox(placeholder="Nachricht", ng-model="post.text", name="messagebox", id="messagebox", style="background-color: #E5E5E5;")
                .card-actions
                    .clearfix
                        button.btn.btn-primary.pull-right(type="submit", ng-click="createMessage()") Teilen
        .col-xs-6.col-sm-3
            .card.special
                .card-heading
                    h6 Neuigkeiten
                .card-body(ng-repeat="item in news")
                    p {{item.text}}
    .row
        .col-xs-6.col-sm-2
        .col-xs-6.col-sm-7
            div(infinite-scroll="filterMessages()", infinite-scroll-distance="0")
                .card.special(ng-repeat="message in messages")
                    .clearfix
                        .pull-right.dropdown(dropdown on-toggle="toggle(open)")
                            i.fa.fa-angle-down.caret-right.dropdown-toggle(dropdown-toggle)
                            ul.dropdown-menu(role="menu")
                                li(ng-repeat="item in getDropDownMenu(message)")
                                        a(href="", ng-click="optionMenuClick(item.id,message, $index)") {{item.name}}
                    .card-heading.image
                        img(ng-src="img/profile-32.png", alt="")
                        .card-heading-header
                            h3
                                a(ng-click="getProfileOfUser(message.user)") {{message.user}}
                            span
                            | {{message.date | date:"dd.MM.yyyy hh:mm"}}
                    .card-body
                        div(ng-hide="message.editEnabled")
                            {{message.text}}
                        div(ng-show="message.editEnabled")
                            textarea.form-control.simplebox(ng-model="message.text", style="background-color: #E5E5E5;")
                            .clearfix
                            button.btn.btn-primary.pull-right(type="submit", ng-click="updateMessage(message)") Ändern
                    .card-actions
                        a(href="", ng-click="like(message)") Super Geil
                        span.pad-xs
                        span ·
                        a(href="", ng-click="share(message)")  Teilen
                    .card-comments
                        div(ng-repeat="comment in filterComments(message)")
                            .comments
                                .media
                                    a.pull-left
                                        img.media-object(data-src="getCommentUserThumb(comment)")
                                    .media-body(ng-mouseenter="comment.showTooltip = true", ng-mouseleave="comment.showTooltip = false")
                                        .pull-right(ng-class="{{comment.dropDown}}")
                                            i(ng-show="comment.showTooltip", ng-class="{{comment.commentClass}}", tooltip="{{comment.tooltipAction}}", ng-click="applyActionComment(comment)", id="attachee")
                                            ul.dropdown-menu(role="menu")
                                                li(ng-repeat="item in comment.dropdownMenu")
                                                    a(href="", ng-click="optionDropdownActionMenuClick(item,comment)") {{item}}
                                        h4.media-heading {{comment.author}}
                                        p {{comment.content}}
                        input.form-control(ng-model="commentContent", ui-keypress="{13:'submitComment($event, message)'}")
        .col-xs-6.col-sm-2
